<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Should I cycle or get the tube?</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="top-banner">
    <div class="header-content">
      <form id="form" class="form row-cols-lg-auto g-3 align-items-center justify-content-center">
        <div class="col-xs-12 col-m-6 col-lg-auto">
          <label>What's your plan?</label>
        </div>
        <div class="col-xs-12 col-m-6 col-lg-auto textbox">
          <input id="from" type="text" class="form-control" placeholder="from" required>
        </div>
        <div class="col-xs-12 col-m-6 col-lg-auto textbox">
          <input id="to" type="text" class="form-control" placeholder="to" required>
        </div>
        <div class="col-xs-12 col-m-6 col-lg-auto button">
          <button type="submit" class="btn btn-primary">What should I do?</button>
        </div>
      </form>
    </div>
  </div>
  <div class="content">
    <div class="row">

      <div class="col-xs-12 col-sm-6">
        <div class="card">
          <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>Is it going to rain?</h3>
            <p class="card-text">Chance of rain is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" >
          <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>Is it windy?</h3>
            <p class="card-text">Chance of rain is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" >
          <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>Is there real bad pollution?</h3>
            <p class="card-text">Chance of rain is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" >
          <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>is the tube screwed?</h3>
            <p class="card-text">Chance of rain is...</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card" >
          <img src="https://via.placeholder.com/500x300" class="card-img-top" alt="...">
          <div class="card-body">
            <h3>Which is faster?</h3>
            <p class="card-text">Chance of rain is...</p>
          </div>
        </div>
      </div>
  </div>

<script src="/js/script.js"></script>
</body>
</html>
