.modal-body {
  height: 500px !important;
}

.btn:hover .button-text{
  display: none;
}

#submit {
  width: 162px ;
  transition-property: background;
  transition-duration: 0.5s !important;
  transition-timing-function: linear !important;
}


.header-content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 50px;
  opacity: .90;
}

#content {
  display: none;
  width: 1000px;
  margin: 15px auto;
}
.form {
  display: flex;
  flex-wrap: wrap;
}

#to {
  border: 0px solid white;
  border-radius: 0;
  outline: 0 !important;
  -webkit-appearance: none !important;
}

#to:focus {
  border-bottom: 1px solid #DDDDDD;

  -webkit-appearance: none !important;
}

.bootstrap-select .dropdown-toggle:focus { outline: none !important; }

#from {
  border: 0px solid white;
  border-radius: 0;
  outline: none !important;
  -webkit-appearance: none !important;
}

#from:focus {
  border-bottom: 1px solid #DDDDDD;
  -webkit-appearance: none !important;
}

#top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../img/header.jpg");
  align-items: center;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 120px 0;
  height: 100vh;
  background-attachment: fixed;

}

#no-bike {
  display: none;
  margin-bottom: 20px;

}

#yes-bike {
  display: none;
  margin-bottom: 20px;


}

html {
  scroll-behavior: smooth;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;

  transition: background 0.5s ease;
}

.btn-flat:hover {
  background: #343a40;
  color: white;
}

.card-info {
  overflow: hidden;
  height: 120px;
  width: 95%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 10px auto;
}

.card-info img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-info p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-info li {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.card-info .card-info-infos {
  padding: 16px;
}

#find-more {
  margin-top: 20px;
  display: none;
}

.card-info-infos {
  max-height: 100px;
  overflow: auto;
}

.line {
      border-right: 1px solid #DDDDDD;
      height: 40px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

@media screen and (max-width: 992px) {

  .textbox {
    margin-bottom: 10px
  }

  .header-content {
      width: 100%;
      max-width: 100%
      position: relative;
      border-radius: 0px;
      opacity: .90;
  }

  #content {
    width: 95%;
  }

  .textbox {
    margin-bottom: 10px
  }

  .line {
      display: none;
    }

  #submit {
    width: 100%;
  }

  #form {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .header-content {
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
    max-width: 100% !important;
  }
}
